## Multiple simulations at once

In [23]:
class SimpleClassificationUD(Strategy):
    
    threshold_buy = 5
    threshold_sell = 5
    
    def init(self):
        self.model = model_dt
        self.already_bought = False

    def next(self):
        explanatory_today = self.data.df.iloc[-1:, :]
        forecast_tomorrow = self.model.predict(explanatory_today)[0]
        
        if forecast_tomorrow > self.threshold_buy and self.already_bought == False:
            self.buy()
            self.already_bought = True
        elif forecast_tomorrow < self.threshold_sell and self.already_bought == True:
            self.sell()
            self.already_bought = False
        else:
            pass

### Define initial conditions

In [70]:
bt = Backtest(df_explanatory, SimpleClassificationUD,
              cash=10000, commission=.002, exclusive_orders=True)

In [71]:
import numpy as np

In [83]:
thresholds = np.arange(1,11)

In [84]:
thresholds_buy = thresholds.tolist()

In [85]:
thresholds_sell = (-thresholds).tolist()

In [86]:
result = bt.optimize(
    threshold_buy = thresholds_buy, threshold_sell = thresholds_sell,
    return_heatmap=True, maximize='Return [%]'
)

/Users/sota/miniforge3/envs/backtesting/lib/python3.11/site-packages/backtesting/backtesting.py:1375: UserWarning: For multiprocessing support in `Backtest.optimize()` set multiprocessing start method to 'fork'.
  warnings.warn("For multiprocessing support in `Backtest.optimize()` "

In [87]:
df_result = result[1].reset_index()

In [88]:
df_result = df_result.pivot(index='threshold_buy', columns='threshold_sell', values='Return [%]')

In [89]:
df_result.style.background_gradient(axis=None).format('{:.2f}')

In [90]:
result[0].to_frame(name='Value').style

### Run backtesting

In [ ]:
results = bt.run()

### Interpret backtesting results

In [ ]:
results.to_frame(name='Values').loc[:'Return [%]']

                                Values
Start              2016-12-08 00:00:00
End                2023-03-14 00:00:00
Duration            2287 days 00:00:00
Exposure Time [%]            81.714286
Equity Final [$]          17304.440567
Equity Peak [$]           25626.315277
Return [%]                   73.044406