# Data Preprocessing

In [ ]:
???

,Open,High,Low,Close,Volume,change_tomorrow,change_tomorrow_direction
Date,,,,,,,
2016-12-08,56.325228,56.582507,55.902560,56.058762,21220800,-1.549143,DOWN
2016-12-09,56.214968,56.959234,56.169027,56.940857,27349400,-0.321692,DOWN
...,...,...,...,...,...,...,...
2023-03-14,256.750000,261.070007,255.860001,260.790009,33620300,-1.751806,DOWN
2023-03-15,259.980011,266.480011,259.209991,265.440002,46028000,-3.895731,DOWN

## Load the data

In [2]:
import pandas as pd

df_microsoft = pd.read_excel(
    'data/Microsoft_Stock_Price_Historical_Daily.xlsx',
    parse_dates=['Date'], index_col=0
)

df_microsoft

                  Open        High         Low       Close      Volume
Date
1986-03-13    0.055241    0.063365    0.055241    0.060657  1031788800
1986-03-14    0.060657    0.063907    0.060657    0.062823   308160000
...                ...         ...         ...         ...         ...
2023-03-15  259.980011  266.480011  259.209991  265.440002    46028000
2023-03-16  265.209991  276.559998  263.279999  276.200012    54768800

[9328 rows x 5 columns]

## Filter the data

![](src/Microsoft_x_LinkedIn.png)

## Calculate the percentage daily difference for tomorrow

## Did the stock go up or down?

## Save the processed DataFrame into an Excel