# Data Preprocessing

## Load the data

In [1]:
import pandas as pd

df_microsoft = pd.read_excel(
    'data/Microsoft_Stock_Price_Historical_Daily.xlsx',
    parse_dates=['Date'], index_col=0
)

df_microsoft

                  Open        High         Low       Close      Volume
Date
1986-03-13    0.055241    0.063365    0.055241    0.060657  1031788800
1986-03-14    0.060657    0.063907    0.060657    0.062823   308160000
1986-03-17    0.062823    0.064448    0.062823    0.063907   133171200
1986-03-18    0.063907    0.064448    0.061740    0.062281    67766400
1986-03-19    0.062281    0.062823    0.060657    0.061198    47894400
...                ...         ...         ...         ...         ...
2023-03-10  251.080002  252.789993  247.600006  248.589996    28321800
2023-03-13  247.399994  257.910004  245.729996  253.919998    33339700
2023-03-14  256.750000  261.070007  255.860001  260.790009    33620300
2023-03-15  259.980011  266.480011  259.209991  265.440002    46028000
2023-03-16  265.209991  276.559998  263.279999  276.200012    54768800

[9328 rows x 5 columns]

In [ ]:
???

,Open,High,Low,Close,Volume,daily_diff,daily_diff_direction,buy,buy_sell
Date,,,,,,,,,
2016-12-09,56.214968,56.959234,56.169027,56.940857,27349400,0.882095,UP,1,1
2016-12-12,56.803028,57.244073,56.711145,57.124622,20198100,0.183765,UP,1,0
2016-12-13,57.427836,58.273172,57.188938,57.868881,35718900,0.744259,UP,1,0
2016-12-14,57.887258,58.300739,57.455399,57.593227,30352700,-0.275654,DOWN,0,1
2016-12-15,57.611607,58.025088,57.244067,57.501347,27669900,-0.091881,DOWN,0,0
...,...,...,...,...,...,...,...,...,...
2023-03-10,251.080002,252.789993,247.600006,248.589996,28321800,-3.730011,DOWN,0,0
2023-03-13,247.399994,257.910004,245.729996,253.919998,33339700,5.330002,UP,1,1
2023-03-14,256.750000,261.070007,255.860001,260.790009,33620300,6.870010,UP,1,0
2023-03-15,259.980011,266.480011,259.209991,265.440002,46028000,4.649994,UP,1,0
2023-03-16,265.209991,276.559998,263.279999,276.200012,54768800,10.760010,UP,1,0

## Filter the data

![](src/Microsoft_x_LinkedIn.png)

## Calculate the daily difference

## Did the stock go up or down?

## Calculate Purchase Recommendation

### Buy if it goes up

### Buy if it goes and sell if down

> You can only sell if you have already bought

## Save the processed DataFrame into an Excel