# Backtesting ML Classification-Based

## Load the model

In [50]:
import pickle

with open('models/model_dt_microsoft_linkedin_classification.pkl', 'rb') as f:
    model_dt = pickle.load(f)

## Load the data

In [53]:
import pandas as pd

df = pd.read_excel('data/Stock_Microsfot_x_Linkedin_Processed.xlsx', index_col=0, parse_dates=['Date'])
df

,Open,High,Low,Close,Volume,diff_daily_1,diff_daily_1_direction,buy,buy_sell
Date,,,,,,,,,
2016-12-09,56.214968,56.959234,56.169027,56.940857,27349400,0.882095,UP,1,1
2016-12-12,56.803028,57.244073,56.711145,57.124622,20198100,0.183765,UP,1,0
...,...,...,...,...,...,...,...,...,...
2023-03-15,259.980011,266.480011,259.209991,265.440002,46028000,4.649994,UP,1,0
2023-03-16,265.209991,276.559998,263.279999,276.200012,54768800,10.760010,UP,1,0

## Backtesting.py Library

### Create your Strategy Class

### Define initial conditions

### Interpret backtesting results

### Visualize the strategy performance